<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Hello</h1>

    <button id="btn">Send</button>
    <br><hr><br> -->
    <form action="/api/user/files" method="post" enctype="application/x-www-form-urlencoded">
        <input type="file" name="video" id="video">
        <br>
        <br>
        <button type="submit">Upload</button>
    </form>
    <script src="http://localhost:7979/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script>
        var socket = io.connect('http://localhost:7979');
        // $('#btn').click(()=>{
        //     socket.emit('server-received-ph', {name: 'huan'});
        // });
        
        // $('#submit').click(function($event){
        //     $event.preventDefault();
        //     $.post('http://localhost:7979/api/user/login', {
        //         username: $('#username').val(),
        //         password: $('#password').val()
        //     }, function(data, status) {
        //         console.log(data);
        //     })
        // });
    </script>
</body>
</html>